.labelBox {
    /*-fx-border-color: red;*/
    -fx-padding: 20 0;
}

.topLabelLong {
    /*-fx-border-color: green;*/
    -fx-font-size: 23;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 170;
}

.topLabelShort {
    /*-fx-border-color: green;*/
    -fx-font-size: 23;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 140;
}

.uiElem {
    /*-fx-border-color: blue;*/
    -fx-pref-width: 135;
    -fx-pref-height: 40;
    -fx-font-size: 15;
    -fx-text-alignment: CENTER;
}