.labelBox {
    -fx-padding: 20 0 0 0;
}

.topLabelLong {
    -fx-font-size: 23;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 170;
}

.labelLengthen {
    -fx-pref-width: 230;
}

.topLabelShort {
    -fx-font-size: 23;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 140;
}

.topLabelShortWhite {
    -fx-padding: 0 0 0 5;
    -fx-font-size: 21;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 150;
}

.uiElem {
    -fx-pref-width: 135;
    -fx-pref-height: 40;
    -fx-font-size: 15;
    -fx-text-alignment: CENTER;
}

.uiElemLong {
    -fx-pref-width: 175;
    -fx-pref-height: 40;
    -fx-font-size: 15;
    -fx-text-alignment: CENTER;
}

.darkBackContrast {
    -fx-padding: 5;
    -fx-border-insets: 10;
    -fx-background-insets: 10;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: rgb(0, 26, 87);
    -fx-border-color: rgb(0, 26, 87);
    -fx-alignment: CENTER;
}

.shortenBg {
    -fx-max-width: 300;
}

.topLabelBox {
    -fx-pref-width: 300;
    -fx-alignment: CENTER;
    -fx-padding: 5;
}