.label.welcome-header-label {
    -fx-font-size: 45;
    -fx-text-fill: rgb(0, 105, 255);
    -fx-font-weight: bold;
    -fx-max-width:400;
}

.label.welcome-subheader-label {
    -fx-font-size:26;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-alignment: center-right;
    -fx-max-width: 500;
}

.label-textfield {
    -fx-padding: 20 0 10 0;
}

.textfield-label{
    -fx-max-width: 295;
    -fx-text-alignment: left;
    -fx-padding: 0 0 3 5;
}

.hidden-label {
    visibility: hidden;
}

.success {
    -fx-text-fill: green;
}

.error {
    -fx-text-fill: red;
}

.hidden-label:hover {
    -fx-text-fill: blue;
}

.button.button-primary {
    -fx-padding: 10 15 10 15;
    -fx-font-size:18;
    -fx-background-color: #DF99FF;
    -fx-text-fill: #0F020F;
    -fx-border-color: #0F020F;
    -fx-border-width: 1;
    -fx-text-weight: bold;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-border-radius: 15 14 15 14;
    -fx-background-radius: 15 15 15 15;
}

.button.button-primary:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #cf75f8;
}

.hyperlink {
    -fx-max-width: 295;
    -fx-text-alignment: left;
}